.navbar {
    background-color: transparent;
    border-bottom: 1px solid #ddd;
    width: 100vw;
    height: 8vh;
    position: absolute;
    top: 0;
    right: 0;
    box-shadow: 0 4px 4px rgba(102, 102, 102, 0.9);
}

.navbar .flex {
    justify-content: space-between;
}

@media screen and (max-width: 768px) {
    nav ul li {
        margin-left: 20px;
    }
}

@media screen and (min-width: 768px) {
    nav ul li {
        margin-left: 50px;
    }
}

.logo {
    font-weight: 600;
    color: #111; 
    background-color: var(--brand-color);
    padding: 2px 5px;
    border-radius: 5px;
}

.logo:hover {
    cursor: pointer;
}


nav ul li{
    list-style-type: none;
    float: left;
    color: var(--brand-color)
}

ul a {
    text-decoration: none;
    padding: 2px;
}

ul a:hover {
    cursor: pointer;
    border-bottom: 1.5px solid var(--brand-color);
}

ul li i:hover{
    cursor: pointer;
    color: var(--brand-color);
}