<app-navbar></app-navbar>

<div class="bg">
  <div class="container flex">
    <form>
      <h1>Login</h1>

      <div class="input-field">
        <span *ngIf="incorrectPass" class="incorrect-pass"
          >Your password or username is incorrect.</span
        >
        <label for="username"
          >Username <i class="fa fa-user-circle-o" aria-hidden="true"></i>
        </label>

        <input
          type="text"
          id="username"
          name="username"
          required
          [(ngModel)]="username"
          (focus)="removeIncorrectText()"
        />

        <label for="password"
          >Password<i class="fa fa-unlock-alt" aria-hidden="true"></i
        ></label>

        <input
          type="password"
          id="password"
          name="password"
          required
          [(ngModel)]="password"
          (focus)="removeIncorrectText()"
        />
        <span class="forgot-pass"
          ><a (click)="forgotPassword()">forgot password?</a></span
        >
      </div>
      <button class="login-btn" (click)="login()">Login</button>
    </form>
  </div>
</div>
