<app-navbar></app-navbar>

<main>
  <div
    class="category-box container"
    *ngFor="let movieBatch of allMovies; let i = index"
  >
    <div class="card-title">
      <h3>{{ movieBatch.batchName }}</h3>
      <span>{{ movieBatch.subtitle }}</span>
    </div>

    <div class="card-wrapper">
      <mat-card class="card" *ngFor="let movie of movieBatch.movies">
        <img
          mat-card-image
          (click)="goTo(movie.id, i)"
          src="http://image.tmdb.org/t/p/w500/{{ movie.poster_path }}"
        />

        <mat-card-content class="sub-contents">
          <span class="rating-star"
            ><i class="fa fa-star" aria-hidden="true"></i
          ></span>
          <span class="rating">{{ movie.vote_average }}</span>
          <span class="favorite" (click)="addFav()"
            ><i class="fa fa-{{ heartClass }}" aria-hidden="true"></i
          ></span>
          <p (click)="goTo(movie.id, i)">{{ movie.title }}</p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</main>
